<footer class="navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <!--Sidebar content-->
        <a href="http://www.facebook.com/escencial" target="_blank">
          <img src="{{ app.request.basepath }}/assets/icondock/facebook.png" class="img-radius"/>
        </a>
        <a href="http://www.twitter.com/salvitter" target="_blank">
          <img src="{{ app.request.basepath }}/assets/icondock/twitter.png" class="img-radius"/>
        </a>
        <a href="http://www.github.com/escencial" target="_blank"><img src="{{ app.request.basepath }}/assets/icondock/github.png" class="img-radius"/></a>
        <a href="#" target="_blank"><img src="{{ app.request.basepath }}/assets/icondock/google.png" class="img-radius" alt="escencial@gmail.com"/></a>
        <a href="#" target="_blank"><img src="{{ app.request.basepath }}/assets/icondock/google-plus.png" class="img-radius" /></a>
        <a href="#" target="_blank"><img src="{{ app.request.basepath }}/assets/icondock/linkedin.png" class="img-radius" /></a>
        <a href="#" target="_blank"><img src="{{ app.request.basepath }}/assets/icondock/skype.png" class="img-radius" /></a>
      </div>
      <div class="span3 offset5">
        <!--Body content-->
        <span>© {{ "now"|date("Y") }} Copyright <a href="http://escencial.net">escencial.net</a></span>
      </div>
    </div>
  </div>
</footer>